@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, Arial, sans-serif;
}

@theme {
  --color-primary-bg: #f4f4f4;
  --color-bg-border: #e8e8e8;
  --color-computer-bg: #e7ccab
}


.glass {
  backdrop-filter: blur(30px);
}

.animate-typing {
  padding-right: .1em;
  border-right: .15em solid #05df72;
  overflow: hidden;
  animation: 
  typing 2s steps(30, end), 
  blink 1.2s infinite;
}
@keyframes blink {
  30% { border-color: transparent; }
}

@keyframes typing {
  from { width: 5%; }
  to { width: 65%; }
}

.animate-svg1 {
  animation: svg-color-cycle1 6s infinite;
}
.animate-svg2{
  animation: svg-color-cycle2 8s infinite;
}
.animate-svg3{
  animation: svg-color-cycle3 4s infinite;
}

@keyframes svg-color-cycle1{
  0%, 100% {fill: #24EA59}
  60% {fill: rgb(189, 255, 84)}
}
@keyframes svg-color-cycle2{
  0%, 100% {fill: #62CC11}
  40% {fill: rgb(45, 255, 164)}
}
@keyframes svg-color-cycle3{
  0%, 100% {fill: #00FF88}
  30% {fill: rgb(4, 147, 49)}
}