@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #f8f8f8;
  --foreground: #171717;
  --card-effect-mod: 4rem;

}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, Arial, sans-serif;
}

@theme {
  --color-primary-bg: #f4f4f4;
  --color-bg-border: #e8e8e8;
  --color-computer-bg: #e7ccab;
  --color-primary-green: #32fc13;
}

/* Glass effect class for nav bar */
.glass-header {
  backdrop-filter: blur(30px);
}

.glass-body {
  backdrop-filter: blur(40px);
}

/* Langing Page Terminal Window Typing Effect */
.animate-typing {
  padding-right: .1em;
  border-right: .15em solid #05df72;
  overflow: hidden;
  animation: 
  typing 2s steps(30, end), 
  blink 1.2s infinite;
}
@keyframes blink {
  30% { border-color: transparent; }
}

@keyframes typing {
  from { width: 5%; }
  to { width: 65%; }
}

/* Landing page blurred background effect*/
.animate-svg1 {
  animation: svg-color-cycle1 6s infinite;
}
.animate-svg2{
  animation: svg-color-cycle2 8s infinite;
}
.animate-svg3{
  animation: svg-color-cycle3 4s infinite;
}

@keyframes svg-color-cycle1{
  0%, 100% {fill: #24EA59}
  60% {fill: rgb(189, 255, 84)}
}
@keyframes svg-color-cycle2{
  0%, 100% {fill: #62CC11}
  40% {fill: rgb(45, 255, 164)}
}
@keyframes svg-color-cycle3{
  0%, 100% {fill: #00FF88}
  30% {fill: rgb(4, 147, 49)}
}

@keyframes shake{
  0% { transform: rotate(0deg); }
  13% { transform: rotate(15deg); }
  25% { transform: rotate(-15deg); }
  50% { transform: rotate(15deg); }
  75% { transform: rotate(-15deg); }
  100% { transform: rotate(0deg); }
}

.logo-shake:hover {
  animation: shake 1s;
}

.card-effect {
  background: rgb(239,255,243);
  background: linear-gradient(0deg, rgba(239,255,243,1) 0%, rgba(248,248,248,1) 30%);
  /*
  light-green: #effff3
  gray: #f8f8f8
  */
}